<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JZCJB_ro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85560ADC1C8839A000EB032D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85560AF51C8839A000EB032D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85560B001C8839A000EB032D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
